.container {
    width: 70%;
    height: auto;
    margin: 2em 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.form-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txtfomr {
    width: 100%;
}

.btnEnviar {
    margin-top: 2em;
    width: 200px;
    height: 30px;
    border: none;
    background-color: cadetblue;
}